<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1067" key="789b6a4c-a38c-41c4-8a28-d980d365ab8d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T11:32:15" updateDate="2016-02-26T13:32:17" nodeName="Home Page" urlName="home-page" path="-1,1067" isDoc="" nodeType="1051" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1049" nodeTypeAlias="homePage">
    <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
    <umbracoNaviHide>0</umbracoNaviHide>
    <logo>1066</logo>
    <siteTitle><![CDATA[Aarhus Web Developer Coop]]></siteTitle>
    <mainContent><![CDATA[<p>Welcome to Aarhus Web Developer Co-op! Here we're going to try to grow as a community by collaborating on projects!</p>]]></mainContent>
    <articlesMain id="1069" key="f63c74ca-9e90-4214-97f1-bdf01607e823" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2016-02-15T13:08:33" updateDate="2016-02-18T16:18:48" nodeName="Articles" urlName="articles" path="-1,1067,1069" isDoc="" nodeType="1055" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1054" nodeTypeAlias="articlesMain">
      <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Here's a list of our articles!</p>]]></articlesBodyText>
      <articleItem id="1070" key="b8fd17a5-fa49-4104-a46f-f98ba3dab86f" parentID="1069" level="3" creatorID="0" sortOrder="3" createDate="2016-02-15T13:10:13" updateDate="2016-02-18T16:18:49" nodeName="First Article Ever!" urlName="first-article-ever" path="-1,1067,1069,1070" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Lego Robot]]></articleTitle>
        <articleContent><![CDATA[<p>Our Lego robot went haywire. Help us stop it from destroying everything in its path!</p>]]></articleContent>
      </articleItem>
      <articleItem id="1071" key="d019116f-ba79-4976-b135-330b793b2a62" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2016-02-15T15:12:29" updateDate="2016-02-15T15:12:50" nodeName="Second Article" urlName="second-article" path="-1,1069,1071" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Mobile App For Fronter]]></articleTitle>
        <articleContent><![CDATA[<p>We are excited to announce that we are going to make a mobile app for Fronter! Keep your eyes on our progress!</p>]]></articleContent>
      </articleItem>
      <articleItem id="1072" key="728f24b5-ec6c-4e09-a9e0-1c84df813fa2" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2016-02-15T15:15:02" updateDate="2016-02-15T15:15:02" nodeName="Third Article" urlName="third-article" path="-1,1069,1072" isDoc="" nodeType="1057" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1056" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Designing with Your Imagination]]></articleTitle>
        <articleContent><![CDATA[<p>This weekend, you can join other students from IT educations to design and code awesome stuff, by using your imagination!</p>]]></articleContent>
      </articleItem>
    </articlesMain>
    <projectsMain id="1073" key="b9376c9b-8a3e-461e-852c-f9310bfd126d" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2016-02-15T15:19:13" updateDate="2016-02-18T16:19:05" nodeName="Projects" urlName="projects" path="-1,1067,1073" isDoc="" nodeType="1059" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1058" nodeTypeAlias="projectsMain">
      <footer><![CDATA[©2016 Business Academy Aarhus]]></footer>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>On this page, you can find a list of all the awesome projects that people are cooperating on! </p>
<p>C'mon, don't be shy, browse through them! You may even find one that appeals to you ;)</p>]]></projectsBodyText>
      <projectItem id="1074" key="5292ab53-521a-4afd-973e-6081b7a31cb2" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2016-02-15T15:24:27" updateDate="2016-02-26T14:05:23" nodeName="Lego Robot Went Haywire" urlName="lego-robot-went-haywire" path="-1,1067,1073,1074" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>8</projectStatus>
        <projectTitle><![CDATA[Lego Robot Went Haywire]]></projectTitle>
        <projectDescription><![CDATA[<p>Oh no, our Lego Robot started acting up while we were trying to implement a language module for it! Come and help us make it behave, while also teaching it more nice words that it can use!</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1075" key="e329f17d-04bd-4c17-b91a-99199c6a54a6" parentID="1073" level="3" creatorID="0" sortOrder="4" createDate="2016-02-15T15:33:03" updateDate="2016-02-26T14:05:15" nodeName="Android App for Fronter" urlName="android-app-for-fronter" path="-1,1067,1073,1075" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>6</projectStatus>
        <projectTitle><![CDATA[Android App for Fronter]]></projectTitle>
        <projectDescription><![CDATA[<p>We're thinking of trying to make an app for Fronter for Android phones, where you can sign in to see your homework and ask your teachers about whatever problems you might encounter while preparing for the lessons. </p>
<p>Everyone from the IT departments is welcome to contribute!</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1076" key="319e52b0-1ac0-49a6-8970-38e22d8a1f85" parentID="1073" level="3" creatorID="0" sortOrder="5" createDate="2016-02-15T15:39:27" updateDate="2016-02-26T14:04:44" nodeName="Student Jobs Database" urlName="student-jobs-database" path="-1,1067,1073,1076" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>7</projectStatus>
        <projectTitle><![CDATA[Student Jobs Database]]></projectTitle>
        <projectDescription><![CDATA[<p>There are so many students in Aarhus that we've decided it would be of great use to provide a student jobs portal, made by students for students! We're in need of:</p>
<p>- coders</p>
<p>- designers</p>
<p>- researchers.</p>
<p>We already have an outline for this idea, but we want to make sure that the usability of this portal will be top notch and that's why we need you!</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1090" key="e11a33a8-eb00-4080-898a-1ce666b34a64" parentID="1073" level="3" creatorID="0" sortOrder="6" createDate="2016-02-26T14:04:22" updateDate="2016-02-26T14:04:22" nodeName="Canteen Mobile App" urlName="canteen-mobile-app" path="-1,1067,1073,1090" isDoc="" nodeType="1061" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1060" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>9</projectStatus>
        <projectTitle><![CDATA[Canteen Mobile App]]></projectTitle>
        <projectDescription><![CDATA[<p>Our team has managed to make a mobile app which offers information about what is going on at the canteen! Whether you want to order the menu of the day or just take a look at the delicious food that is available, this app is going to help you.</p>]]></projectDescription>
      </projectItem>
    </projectsMain>
    <aboutUs id="1089" key="8dcb6503-3e11-42f2-ac86-2ea50ee292f7" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2016-02-26T13:53:03" updateDate="2016-02-26T13:56:48" nodeName="About Us" urlName="about-us" path="-1,1067,1089" isDoc="" nodeType="1079" creatorName="Marina Gherghe" writerName="Marina Gherghe" writerID="0" template="1084" nodeTypeAlias="aboutUs">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 2,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Who are we?",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 2,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "f2107daa-719f-694d-46c1-e44faaa06c58"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 2,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1082,
                    "image": "/media/1004/project-management600px.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 2,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "c0501fb3-b100-76b8-5af4-84b32a59d256"
        },
        {
          "name": "Paragraphs",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>We're a team of developers who wish for other developers at our academy to be more productive.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>We're providing you with the opportunity to find projects that interest you and get involved!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>The best part is that you get to collaborate with other students to do awesome stuff.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "c99641bd-ad79-03af-9eeb-e0d041e189b9"
        }
      ]
    }
  ]
}]]></aboutUsGrid>
    </aboutUs>
  </homePage>
</root>